.modal {
    position: fixed;
    z-index: 500;
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.7),
        rgba(255, 255, 255, 0.2)
    );
    width: 70%;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, .25);
    border-radius: 2rem;
    padding: 2rem;
    left: 15%;
    top: 10%;
    box-sizing: border-box;
    font-size: 1.25rem;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .modal {
        width: 500px;
        left: calc(50% - 250px);
        padding: 1rem;
    }
}